<%- include('../partials/header') %>
<div class="flex box">
  <img class="profile-pic" src="<%= user.avatar %>" alt="profile pic" />
  <div class="inner-space">
    <h1><%= user.name %></h1>
    <p>Name your Routine</p>
    <form action="/users/<%= user.id %>/routines" method="POST">
      <input type="text" name="title" placeholder="routine name" />
      <button type="submit">Add Routine</button>
    </form>
  </div>
</div>
<%- include('../partials/footer') %>
