<%- include('../partials/header') %>
<div class="flex box">
  <img class="profile-pic" src="<%= user.avatar %>" alt="profile pic" />
  <div class="inner-space">
    <h1><%= user.name %></h1>
    <div class="flex">
      <p>Name your Routine</p>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="/users/<%= locals.userId %>">Back</a>
    </div>
    <form action="/users/<%= user.id %>/routines" method="POST">
      <input type="text" name="title" placeholder="routine name" />
      <button type="submit">Add Routine</button>
    </form>
  </div>
</div>
<%- include('../partials/footer') %>
