<%- include('../partials/header') %>
<div class="flex box">
  <img class="profile-pic" src="<%= user.avatar %>" alt="profile pic" />
  <div class="inner-space">
    <h1><%= user.name %></h1>
    <a href="/exercises/new">Add Exercise</a>
  </div>
</div>

<table>
  <thead>
    <% if (routine.exercises.length) { %>
    <tr>
      <th>Exercise</th>
      <th>Sets</th>
      <th>Reps</th>
    </tr>
  </thead>
  <% routine.exercises.forEach(function(e) { %>
  <tbody>
    <tr>
      <td><%= e.exercise %></td>
      <td><%= e.sets %></td>
      <td><%= e.reps %></td>
      <% }) %>
    </tr>
    <% } else { %> 
     <p>No Exercises Added Yet</p>
    <% } %>
  </tbody>
</table>
<%- include('../partials/footer') %>
