<%- include('../partials/header') %>
<div id="user" class="flex box center center-text">
  <% if (routine.user == locals.userId) { %>
  <img class="profile-pic" src="<%= user.avatar %>" alt="profile pic" />
  <% } %>
  <div class="inner-space">
    <h1 style="margin-top: 0;"><%= user.name %></h1>
    <span class="flex align center">
      <h2 style="margin: 0;"><%= routine.title %></h2>
      &nbsp; &nbsp; <a href="/users/<%= routine.user %>">Back</a>
    </span>
    <p>Exercises</p>
  </div>
</div>
<div class="column center">
  <div class="center-text">
    <% if (routine.exercises.length) { %>
    <ul>
      <% routine.exercises.forEach(function(e) { %>
      <li style="color: red">
        <span style="color: rgb(180, 180, 180)"><%= e.exercise %></span><br />
        <%= e.sets %> sets / <%= e.reps %>
      </li>
      <form
        action="/routines/<%= routine._id %>/<%= e._id %>?_method=DELETE"
        method="POST"
      >
        <button class="delete-btn" type="submit">X</button>
      </form>
      <% }) %>
    </ul>
    <% } else { %>
    <p>No Exercises Added Yet</p>
    <% } %>
    <form
      action="/routines/<%= routine._id %>/exercises"
      method="POST"
      class="column"
    >
      <input type="text" name="exercise" placeholder="exercise name" />
      <input type="text" name="sets" placeholder="sets" />
      <input type="text" name="reps" placeholder="reps" />
      <button type="submit">Add Exercise</button>
    </form>
  </div>
</div>
<%- include('../partials/footer') %>
