<%- include('../partials/header') %>
<div class="flex box">
  <img class="profile-pic" src="<%= user.avatar %>" alt="profile pic" />
  <div class="inner-space">
    <h1><%= user.name %></h1>
    <h2><%= routine.title %></h2>
  </div>
</div>
<div class="column center">
  <div class="center-text">
    <% if (routine.exercises.length) { %>
    <ul>
      <% routine.exercises.forEach(function(e) { %>
      <li><span><%= e.exercise %></span><br /><%= e.sets %> sets /<%= e.reps %> reps</li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>No Exercises Added Yet</p>
    <% } %>
    <form
      action="/routines/<%= routine._id %>/exercises"
      method="POST"
      class="column"
    >
      <input type="text" name="exercise" placeholder="exercise name" />
      <input type="text" name="sets" placeholder="sets" />
      <input type="text" name="reps" placeholder="reps" />
      <button type="submit">Add Exercise</button>
    </form>
  </div>
</div>
<%- include('../partials/footer') %>
