<%- include('../partials/header') %>


<% users.forEach(function(u) { %>
<div class="box flex">
  <img class="profile-pic" src="<%= u.avatar %>" />
  <div class="inner-space">
  <h2><%= u.name %></h2>
  <a href="/users/<%= u._id %>">View Profile</a>
  </div>
</div>
  <% }) %>
<%- include('../partials/footer') %>
