<%- include('../partials/header') %>

<img class="profile-pic" src="<%= user.avatar %>" alt="profile pic" />
<h1><%= user.name %></h1>
<a href="/users/<%= user._id %>/routines/new">New Routine</a>

<%- include('../partials/footer') %>

