<%- include('../partials/header') %>

<div class="flex box">
  <img class="profile-pic" src="<%= user.avatar %>" alt="profile pic" />
  <div class="inner-space">
    <h1><%= user.name %></h1>
    <a href="/routines/new">New Routine</a>
  </div>
</div>

<% if (routines) { %>
<div class="flex center">
  <% routines.forEach(function(r) { %>
  <div class="routine">
    <h2 style="text-decoration: underline; margin: 0"><%= r.title %></h2>
    <p style="font-size: 12px"><%= r.description %></p>
    <a href="/routines/<%= r._id %>">View Routine</a>
  </div>
  <% }) %>
</div>
<% } %> <%- include('../partials/footer') %>
